# Directories
/backend/
/assets/
/legacy/

# Specific files
/backend/Challenge/MLmodel
/backend/Challenge/ML model

# Image files
*.jpg

# Node modules
**/node_modules/

# Environment files
.env
/backend_node/.env